.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}


    /* <!-- Section 1 --> */
        


    /* <!-- Section 2 --> */



    /* <!-- Section 3 --> */



    /* <!-- Section 4 --> */



    /* <!-- Section 5 --> */




    /* <!-- Section 6 -->  */